*.class
.project
.classpath
.idea/
.settings/

data-processing/karma/config
data-processing/karma/ontologies-readme.md
data-processing/karma/user-uploaded-files
data-processing/karma/user-preferences/WSP1.json
data-processing/karma/models-json
data-processing/karma/models-graphviz
data-processing/karma/models-autosave
data-processing/karma/alignment-graph
data-processing/karma/semantic-type-files

*.pyc
*~
*.pdf
